@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border:none;
}

body {
    font-family: montserrat, sans-serif;
    font-size: 20px;
    color: #242424;
    background-color: #f0ebe1;
}


/* headings and logo */

h1, h2, h3 {
    text-transform: uppercase;
    letter-spacing: 4px;

}


#logo {
    float: left;
    font-size: 300%;
    padding-left: 30px;
}

#menu {
    font-size: 150%;
    letter-spacing: 2px;
    float: right;
}

#menu, #logo {
    line-height: 75px;
    
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 10px;
    padding-right: 10px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #242424;
}

.active {
    border-bottom: 1px solid #242424;
}

/* hero image */

#hero-outer {
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    overflow-x: hidden;
    position: relative;
    background: url(../images/enigma-machine.png) no-repeat center center;
    background-size: cover;
}

#cover-text {
    font-size: 110%;
    font-family: montserrat, sans-serif;
    color: #f0ebe1;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;

    width: 300px;
    height: 200px;

   padding: 30px 10px;

    background-color: rgba(28, 28, 28, 0.8);

    bottom: 100px;
    right: 100px;

    position: absolute;
}

#cover-text h3 {
    padding-top: 10px;
}

/* text left image right */

.content-one {
    height: 600px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    
    background-color: #1c1c1c;
    color: #f0ebe1;
}

.content-one h3 {
    padding-bottom: 30px;
}

.content-text {
    width: 50%;
    padding: 0 30px 0 60px;
}

.content-img {
    width: 40%;
    padding-right: 60px;
}

.responsive {
    width: 100%;
    height: auto;
  }

  figcaption {
    text-align: center;
    padding-top: 20px;
  }

  
/* text right image left */

.content-two {
    height: 600px;
    width: 100%;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    
    background-color: #f0ebe1;
    color: #1c1c1c;
}

.content-two h3 {
    padding-bottom: 30px;
}

.content-two .content-img {
    padding-left: 60px;
}

.content-one p, .content-two p {
    padding-bottom: 10px;
}

/* early life section */

#early {
    height: 800px;
    padding: 60px 0;
}

/*during the war section */

#during {
    height: 900px;
    padding: 60px 0;
}

/* after the war section */

#after {
    height: 700px;
    padding: 60px 0;
}

/* sexuality and death section */

#death {
    height: 700px;
    padding: 60px 0;
}

/* footer section */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    
}

/* media queries */

@media screen and (max-width: 1200px) {

    #header-content {
        font-size: 0.9rem;
    }
    #cover-text {
        font-size: 0.9rem;
        width: 150px;
        height: 200px;

        padding: 30px 10px;
    }

    #early, #during, #after, #death {
        height: max-content;
    }
}

@media screen and (max-width:950px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }
}


