@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border:none;
}

body {
    font-family: montserrat, sans-serif;
    color: #242424;
}


/* headings and logo */

h1, h2, h3 {
    text-transform: uppercase;
    letter-spacing: 4px;

}


#logo {
    float: left;
    font-size: 300%;
}

#menu {
    font-size: 150%;
    letter-spacing: 2px;
    float: right;
}

#menu, #logo {
    line-height: 75px;
    
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 10px;
    padding-right: 10px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #242424;
}

.active {
    border-bottom: 1px solid #242424;
}

/* hero image */

#hero-image {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background: url(../images/Enigma-machine.png) no-repeat center center;
    background-size: cover;
}

#cover-text {
    font-size: 130%;
    font-family: montserrat, sans-serif;
    color: #f0ebe1;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;

    width: 300px;
    height: 200px;

    padding-top: 30px;
    padding-left: 10px;

    background-color: #5c4e42;

    bottom: 100px;
    right: 100px;

    position: absolute;
}

#cover-text h3 {
    padding-top: 10px;
}