@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border:none;
}

body {
    font-family: montserrat, sans-serif;
    font-size: 20px;
    color: #242424;
    background-color: #e5e5e5;
}


/* headings and logo */

#header-content {
    background-color: #e5e5e5;
    width: 100%;
    position: fixed;
    z-index: 2;
}

h2, h3, a {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #e5e5e5;

}



#logo {
    float: left;
    font-size: 300%;
    padding-left: 30px;
    color: #1c1c1c;
}

#menu {
    font-size: 150%;
    letter-spacing: 2px;
    float: right;
}

#menu, #logo {
    line-height: 75px;
    z-index: 2;
    
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 10px;
    padding-right: 10px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #242424;
}

.active {
    border-bottom: 1px solid #242424;
}

/* hero image */



#hero-image {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    position: relative;
    background: url(../images/alan-and-bombe-black.png) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    
}

/*cover text */

#cover-text {
    font-size: 110%;
    font-family: montserrat, sans-serif;
    color: #e5e5e5;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;

    width: 300px;
    height: 200px;

   padding: 30px 10px;

    background-color: rgba(60, 60, 60, 0.85);

    top: 300px;
    right: 100px;

    position: absolute;
}

#cover-text h2, #cover-text h3 {
    color: #e5e5e5;
}

#cover-text h3 {
    padding-top: 10px;

}

/* Audio */

audio {
    width: 35%;
    margin-top: 80px;
    margin-right: 10px;
    float: right;

}




/* home page main content */

.content {
    margin: 100px 60px 100px 60px;
    padding: 30px;
    color:#e5e5e5;
    background-color:rgba(60, 60, 60, 0.85);
    border: 2px solid #e5e5e5;
    display: flex;

 
}

.content-text {
    margin: 30px;
    width: 50%;

 }

 .content-text h3 {
    padding-bottom: 20px;
 }

 .content-text p {
    padding-bottom: 10px;
 }

 .content-img {
    margin: auto auto;
    
 }

 .responsive-image {
    max-width: 100%;
    height: auto;
 }


 figcaption {
    text-align: center;
 }

 #intro {
    margin: 700px 60px 100px 60px;
    padding: 30px;
 }

 .reverse {
    flex-direction: row-reverse;
 }
 

/* footer section */

footer {
    height: 250px;
    width: 100%;
    background-color: #e5e5e5;


}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #1c1c1c;
    
}

/* more info page */

/* more info hero image */

#more-info-hero-image {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    position: relative;
    background: url(../images/bombe-black.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

#more {
 
    font-size: 110%;
    font-family: montserrat, sans-serif;
    color: #e5e5e5;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;

    width: 600px;
    height: 200px;

   padding: 30px 10px;

    background-color: rgba(60, 60, 60, 0.85);

    top: 400px;
    right: 50px;

    position: absolute;


}

#more h2 {
    color: #e5e5e5;
    padding-bottom: 10px;
}

#book {
    margin-top: 700px;
    height: 550px;
    width: 100%;
    padding-top: 30px;
    text-align: center;
    

    background-color: #1c1c1c;
    
}

#book a, #book h3 {
    color: #e5e5e5;
}



.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 30px;
}

.grid h4 {
    padding-top: 10px;
}

#book-one {
    grid-column: 2/5;
    
}

#book-two {
    grid-column: 5/9;
}

#book-three {
    grid-column: 9/12;
    
}

#film {
    height: 550px;
    width: 100%;
    text-align: center;
    padding-top: 30px;

    background-color: #e5e5e5;
}

#film h3 , a {
    color: #1c1c1c;
}

#film-one {
    grid-column: 2/5;
    margin: 0 auto;
}

#film-two {
    grid-column: 5/9;
    margin: 0 auto;
}

#film-three {
    grid-column: 9/12;
    margin: 0 auto;
}

#book a, #film a {
    text-decoration: none;
}

/*Bletchley Park*/

#park {
    height: 600px;
    width: 100%;
    overflow-x: hidden;
    position: relative;
    background: url(../images/bletchley-black.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

#park h3 {
    color: #e5e5e5;
}

#park-info {
    display: flex;
    justify-content: center;
}

#park-text {
    width: 40%;
    margin: 40px 60px;
    padding: 60px 30px;
    color: #e5e5e5;
    background-color:rgba(60, 60, 60, 0.85);
    border: 2px solid #e5e5e5;
    
    
}

#park-text p{
    padding-top: 10px;
}

#park-link {
    text-align: center;
    padding: 30px 0;
}

#park-link a{
    background-color:  #e5e5e5;
    color: #1c1c1c;
    padding: 10px;
    text-decoration: none;
}

#park-link a:hover {
    background-color: #1c1c1c;
    color: #e5e5e5;

}


#map {
    width: 50%;
    margin-top: 100px;
    margin-right: 60px;
}    


/*survey page */

#survey-hero-image {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    position: relative;
    background: url(../images/enigma-machine.png) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.survey-form {
    margin: 100px auto;
    color:#e5e5e5;
    background-color:rgba(60, 60, 60, 0.8);
    max-width:600px;
    border: 2px solid #e5e5e5;
    padding:30px;
}

.survey-form h3 {
    padding: 20px 0;
    text-align: center;
    border: 2px solid #e5e5e5;
    color: #e5e5e5;
}




fieldset{
    border: solid #e5e5e5;
}


legend {
    margin-left: 10px;
    padding: 20px 0;
    
}

#experience label {
    margin-left: 10px;
}

#experience textarea {
    width: 90%;
    margin: 20px 5%; 
    font-size: 16px;
    font-family: montserrat, sans-serif;
}

.answer input {
    margin-left: 20px;
    margin-bottom: 20px;
}

.button {
    background-color: #1c1c1c;
    color: #e5e5e5;
    margin: 20px 10px;
    padding: 10px 30px;
    border: 2px solid #e5e5e5;
    border-radius: 10%;
    box-shadow: 1px 2px 3px #1c1c1c;
    font-size: 16px;
    font-family: inherit;
    
    
}

.button:hover {
    background-color: #e5e5e5;
    color: #1c1c1c;
    

}
.send {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


#news {
    width: 100%;
    margin: 30px auto;
    height: 30px;
  
}



#newsletter {
    height: fit-content;

}

#newsletter h3 {
    margin-bottom: 20px;
}

#newsletter label {
    display: inline-flex;
    width: 50%;
    margin: 0 auto;
    justify-content: center;
}

#name {
    margin: 20px 0;
}






/* media queries */

@media screen and (max-width: 1200px) {

    /* header and cover text */

    #header-content {
        font-size: 0.9rem;
    }
    #cover-text {
        font-size: 0.9rem;
        width: 150px;
        height: 200px;

        padding: 30px 10px;
    }


    /* home page content */


    #intro {
        margin: 600px 60px 100px 60px;

     }

    .content-text {
        font-size: 0.8em;
    }

    /* footer */

    footer {
        height: 175px;
    }

    /* more info page */

     #more {
        font-size: 0.8em;
        height: 100px;
        padding-bottom: 50px;

    
    }

    #park-info {
        font-size: 0.8em;
    }

}

@media screen and (max-width:950px) {

    /* header and menu */ 

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text {
        left: 10px;
    }

    /*audio*/

    audio {
        margin-top: 130px;
    }

    /* home page content */

    .content {
        display: block;
    }

    .content-text {
        margin: 0 auto;
        width: 100%;
        text-align: center;
        font-size: 1.1rem;
    }

    .content-img {
        display: flex;
        justify-content: center;
        padding-top: 30px;
    }

    figcaption {
        padding-top: 10px;
    }

    footer {
        height: 150px;
    }

    /*More info page content */

    #more {
        margin: 200px auto 0;
        width: 80%;
        height: fit-content;
        position: relative;
        top: 0;
        right: 0;
    }

    #book {
        margin-top: 150px;
    }

    #more p {
        padding-bottom: 10px;
    }

    .grid  {
        display: block;
    }

    .grid h4 {
        font-size: 0.8em;
        padding-bottom: 20px;
    }

    #book, #film {
        height: auto;
    }

    #park {
        height: auto;
    }

    #park-info {
        display: block;
    }

    #park-text {
        margin: 60px auto;
        width: 80%;
    }

    #map {
        margin: 0 auto 60px;
        width: 80%;
    }

    /* survey page content */

    .survey-form {
        margin-top: 200px;

    }

    #newsletter {
        margin-top: 50px;
    }

}

@media screen and (max-width:750px) {
    audio {
        width: 50%;
    }





    .survey-form {
        font-size: 0.8em;
    }


}

@media screen and (max-width:480px) {

    /* header and cover text */

    #header-content {
        font-size: 0.8rem;
    }
    #cover-text {
        font-size: 0.7em;
        width: 150px;
        height: 175px;

        padding: 30px 10px;
    }

    /* audio */

    audio {
        width: 50%;
        margin-top: 150px;
    }

    /* Home Page content */

    .content-text {
        font-size: 0.8em;
    }

    footer {
        height: 100px;
    }

    /* More info page content */

    #book {
        margin-top: 80px;
    }

    .grid h4 {
        padding: 20px;
  
    }

    /* survey page */

    .survey-form {
        font-size: 0.8em;
    }

    .send {
        display: flex;
    }


    








}

   




